<div class="form-group">
		<h3>Personal Details</h3>
		<label for="firstName">First Name</label>
		{{input type="text" value=model.firstName size="50" id="firstName" class="form-control" placeholder="First Name" readonly=true}}<br/>
		<label for="lastName">Last Name</label>
		{{input type="text" value=model.lastName size="50" id="lastName" class="form-control" placeholder="Last Name" readonly=true}}<br/>
	</div>
	{{!-- Questionnaire --}}
	<div class="form-group">
		<h3>Questions</h3>

		{{!-- Question 1 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 1
			</div>
			<div class="panel-body">
				Did a parent or other adult in the household often or very often swear at you, insult you, put you down, or humiliate you? or act in a way that made you afraid that you might be physically hurt?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q1Score}}
			</div>
		</div>

		{{!-- Question 2 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 2
			</div>
			<div class="panel-body">
				Did a parent or other adult in the household often or very often… Push, grab, slap, or throw something at you? or Ever hit you so hard that you had marks or were injured?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q2Score}}
			</div>
		</div>

		{{!-- Question 3 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 3
			</div>
			<div class="panel-body">
				Did an adult or person at least 5 years older than you ever… Touch or fondle you or have you touch their body in a sexual way? or Attempt or actually have oral, anal, or vaginal intercourse with you?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q3Score}}
			</div>
		</div>

		{{!-- Question 4 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 4
			</div>
			<div class="panel-body">
				Did you often or very often feel that … No one in your family loved you or thought you were important or special? or Your family didn’t look out for each other, feel close to each other, or support each other?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q4Score}}
			</div>
		</div>

		{{!-- Question 5 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 5
			</div>
			<div class="panel-body">
				Did you often or very often feel that … You didn’t have enough to eat, had to wear dirty clothes, and had no one to protect you? or Your parents were too drunk or high to take care of you or take you to the doctor if you needed it?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q5Score}}
			</div>
		</div>

		{{!-- Question 6 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 6
			</div>
			<div class="panel-body">
				Were your parents ever separated or divorced?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q6Score}}
			</div>
		</div>

		{{!-- Question 7 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 7
			</div>
			<div class="panel-body">
				Was your mother or stepmother: Often or very often pushed, grabbed, slapped, or had something thrown at her? or Sometimes, often, or very often kicked, bitten, hit with a fist, or hit with something hard? or Ever repeatedly hit over at least a few minutes or threatened with a gun or knife?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q7Score}}
			</div>
		</div>

		{{!-- Question 8 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 8
			</div>
			<div class="panel-body">
				Did you live with anyone who was a problem drinker or alcoholic, or who used street drugs?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q8Score}}
			</div>
		</div>

		{{!-- Question 9 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 9
			</div>
			<div class="panel-body">
				Was a household member depressed or mentally ill, or did a household member attempt suicide?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q9Score}}
			</div>
		</div>

		{{!-- Question 10 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 10
			</div>
			<div class="panel-body">
				Did a household member go to prison?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q10Score}}
			</div>
		</div>


	</div>
