<div class="form-group">
		<h3>Personal Details</h3>
		<label for="firstName">First Name</label>
		{{input type="text" value=model.firstName size="50" id="firstName" class="form-control" placeholder="First Name" readonly=true}}<br/>
		<label for="lastName">Last Name</label>
		{{input type="text" value=model.lastName size="50" id="lastName" class="form-control" placeholder="Last Name" readonly=true}}<br/>
	</div>
	{{!-- Questionnaire --}}
	<div class="form-group">
		<h3>Questions</h3>
		{{!-- Question 1 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 1
			</div>
			<div class="panel-body">
				<i>Before your 18th birthday</i>, did a parent or other adult in the household often or very often swear at you, insult you, put you down, or humiliate you? or act in a way that made you afraid that you might be physically hurt?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q1Score}}
			</div>
		</div>
		{{!-- Question 2 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 2
			</div>
			<div class="panel-body">
				<i>Before your 18th birthday</i>, did a parent or other adult in the household often or very often swear at you, insult you, put you down, or humiliate you? or act in a way that made you afraid that you might be physically hurt?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q2Score}}
			</div>
		</div>
		{{!-- Question 3 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 3
			</div>
			<div class="panel-body">
				<i>Before your 18th birthday</i>, did a parent or other adult in the household often or very often swear at you, insult you, put you down, or humiliate you? or act in a way that made you afraid that you might be physically hurt?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q3Score}}
			</div>
		</div>
		{{!-- Question 4 --}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Question 4
			</div>
			<div class="panel-body">
				<i>Before your 18th birthday</i>, did a parent or other adult in the household often or very often swear at you, insult you, put you down, or humiliate you? or act in a way that made you afraid that you might be physically hurt?
			</div>
			<div class="panel-footer">
				{{format-score-field model.q4Score}}
			</div>
		</div>
	</div>
