<div class="container">
	<div class="page-header">
		<h2>Edit ACE Screening</h2>
	</div>

	{{classic-qnaire-form model=model}}

	<button class="btn btn-primary btn-sm" {{action "save"}}
	{{bind-attr disabled=disabled}}>Save</button>

	<button class="btn btn-default btn-sm" {{action "cancel"}}
	{{bind-attr disabled=disabled}}>Cancel</button>
</div>
