<div class="container">
	<div class="page-header">
		<h2>New Screening</h2>
	</div>

	{{classic-qnaire-form model=model}}

	<button class="btn btn-primary btn-sm new-artist-button" {{action "create"}}
	{{bind-attr disabled=disabled}}>Create</button>

	<button class="btn btn-default btn-sm" {{action "cancel"}}
	{{bind-attr disabled=disabled}}>Cancel</button>
</div>
